li {
    list-style: none;
}

header {
    display: flex;
    background-color: orange;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icons {
    font-size: 20px;
    display: flex;
}

.clock {
    text-align: center;
    position: relative;
    top: 220px;
}

/*
display: flex를 했을경우 여백이 생겼는데 지웠을때 내가 원하는 결과로 나오게
되었다. 이는 어떤 이유로 인해서 나타났는지와 display:flex;를 어떠한
경우 해줘야하는지 알아보자.
flexbox를 쓸려면 display:flex해줘야 되는거 아니였나?;; 부모 요소에서
했으면 자식은 안해도 되는건가? 흠.................
*/